:host {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.loans-list {
    flex-grow: 1;
    li {
        margin: 0 0 20px;
    }
}
p {
    margin: 0;
    text-align: center;
    strong {
        margin: 0;
        display: inline-block;
    }
}