<div class="item-holder">
    <div class="row">
        <strong>{{loan.title}}</strong>
        <span>Invested</span>
    </div>
    <div class="row">
        <ul class="info">
            <li>
                <span>Tranche:</span>
                <span>{{loan.tranche}}</span>
            </li>
            <li>
                <span>Amount:</span>
                <span>{{loan.amount}}</span>
            </li>
            <li>
                <span>Available:</span>
                <span>{{loan.available}}</span>
            </li>
        </ul>
    </div>
</div>